# Starwind Pro license — required to add/update Starwind Pro components via the CLI.
# Obtain from John. Set the real value in .env.local (gitignored), or supply it at
# runtime via the environment (e.g. RunWithCredentials / Cloudflare build env var).
# Never commit the real value.
STARWIND_LICENSE_KEY=
